* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: black;
  color: antiquewhite;
  width: 100%;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: rgb(150, 16, 39);
  margin-top: 2rem;
}
footer ul {
  justify-content: center;
  text-decoration: none;
  display: flex;
  text-align: center;
  padding: 30px;
}
footer ul li {
  display: inline-block;
  text-align: center;
  padding: 15px;
  border: solid green 1px;
}
footer ul li min-width:fit-content a {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-decoration: none;
}

/*HEADER*/
.header {
  width: fit-content;
  display: flex;
  grid-area: header;
  justify-content: space-between;
}
.header .header nav {
  width: 100%;
  padding: 1.2rem;
}

.container-fluid {
  width: 100vw;
}
/*HEADER*/
/* MAIN*/
main {
  margin: 0 2rem;
  justify-content: center;
}
/* MAIN*/
/* DISCOS*/
.main_discos {
  background-color: rgb(17, 17, 17);
  display: flexbox;
  justify-content: center;
  padding: 1rem;
  width: fit-content;
  min-width: 180px;
}
.main_discos .div_cuadrado_discos {
  width: 55%;
  min-width: 180px;
  border: 10px double white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  padding: 15px;
  justify-content: center;
}
.main_discos .div_cuadrado_discos a .img_discos {
  width: 150px;
  margin: 0.5rem;
  border: white solid 2px;
  padding: 10px;
}
.main_discos .div_cuadrado_discos a :hover {
  border: aqua solid 2px;
  width: 155px;
}
/* DISCOS*/
/* HISTORIA*/
.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 6px 6px;
  grid-auto-flow: row;
  grid-template-areas: "article1 article1 article1 article1 aside aside" "article1 article1 article1 article1 aside aside" "article1 article1 article1 article1 aside aside" "article2 article2 article2 article2 aside aside" "fotos fotos fotos fotos fotos fotos";
}
.container .article1 {
  padding: 2rem;
  grid-area: article1;
  background-color: red;
  overflow-y: scroll;
}
.container .article2 {
  padding: 2rem;
  grid-area: article2;
  background-color: green;
  padding: 10px;
}
.container .aside {
  overflow: scroll;
  padding: 2rem;
  grid-area: aside;
  background-color: violet;
}
.container .aside .card {
  margin: 10px;
  width: fit-content;
  align-items: center;
}
.container .fotos {
  padding: 2rem;
  grid-area: fotos;
  background-color: yellow;
}

/* HISTORIA*/
/*MIEMBROS*/
.main_miembros {
  background-color: rgb(17, 17, 17);
  border: solid green 3px;
  display: flexbox;
  justify-content: center;
  padding: 1rem;
  width: fit-content;
  height: fit-content;
  min-width: 180px;
  padding: 1.5rem;
}
.main_miembros div { /*CARDS*/
  width: fit-content;
  background-color: rgba(128, 128, 128, 0.016);
  margin: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.main_miembros div :hover {
  border: solid white 1px;
}
.main_miembros div .card { /*NUMERO CARDS */
  align-items: center;
  background-color: rgb(32, 32, 32);
  width: 20rem;
}
.main_miembros div .card img {
  margin-top: 1rem;
  padding: 1px;
  border: solid rgb(60, 60, 60) 5px;
  height: 15rem;
  width: 15rem;
  object-fit: cover;
}
.main_miembros div .card div {
  background-color: rgb(54, 24, 24);
  border: solid 0.5px rgb(19, 9, 9);
  width: 100%;
  height: fit-content;
}
.main_miembros div .card div h5 {
  color: white;
}
.main_miembros div .card div p {
  color: white;
}
.main_miembros div .card ul {
  width: 100%;
}
.main_miembros div .card ul li {
  color: white;
  background-color: rgb(47, 47, 47);
}

/*MIEMBROS*/
/* CONTACTO */
.main_contacto {
  border: solid red 11px;
  width: 90%;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.main_contacto form {
  width: 50%;
  border: solid 11px yellow;
  padding: 15px;
}
.main_contacto form fieldset {
  border: solid 3px green;
  padding: 10px;
}
.main_contacto form fieldset div {
  padding: 10px;
  border: solid 1px violet;
  width: 90%;
}
.main_contacto div iframe {
  width: 50%;
}

/* CONTACTO */

/*# sourceMappingURL=estilo.css.map */
