*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: black;
    color: antiquewhite;
    width: 100%;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
}
footer{
    background-color: rgb(150, 16, 39);
    margin-top:2rem ;
    ul{
        justify-content: center;
        text-decoration: none;
        display: flex;
        text-align: center;
        padding: 30px;
        li{
            display: inline-block;
            text-align: center;
            padding: 15px;
            border: solid green 1px;
            min-width:fit-content
            
            a{
                font-family: Arial, Helvetica, sans-serif;
                color: white;
                text-decoration: none;
            }
        }
    }
}

/*HEADER*/
.header{
    
    width: 100%;
    display:flex;
    grid-area: header;
    justify-content: space-between;
        .header nav{
            width: 100%;
            padding: 1.2rem;
        }
    }
    .container-fluid{
        width: 100vw;
        a{
        }
        button{
            span{

            }
        }
        div{
            ul{
                li{
                    a{

                    }
                }
            }
        }
}
/*HEADER*/
.div_img_fondo_index{
    width: fit-content;
    height: 50%;
    justify-content: center;
    img{
        width: 100vw;
    }
}
/* INDEX */
.main_indexx{
    background-color: rgba(35, 34, 34, 0.605);
    border: none;
    padding: 2rem;
}
/* INDEX */

/* MAIN*/
main{
    margin: 0 2rem;
    justify-content: center;
}
/* MAIN*/



/* DISCOS*/
.main_discos{
    background-color: rgb(23, 191, 40);
    display: flexbox;
    justify-content: center;
    padding: 1rem ;
    width: fit-content;
    min-width: 180px;
    
    
    .div_cuadrado_discos{
        width: 85%;
        min-width: 180px;
        border: 10px double white;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
        padding: 15px;
        justify-content:center;
        @media only screen and (min-width: 768px) {
            .div_cuadrado_discos {
                width: 100vw;
            }
         }
        
        a{
            .img_discos{
                width: 150px;
                margin: .5rem;
                border: white solid 2px;
                padding: 10px;
            }
            :hover{
                border: aqua solid 2px;
                width: 155px;
            }
        }
    }

    .accordion{
        div{
            h2{
                button{

                }
            }
        }
    }
}
/* DISCOS*/

/* HISTORIA*/
.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 6px 6px;
    grid-auto-flow: row;
    grid-template-areas:
      "article1 article1 article1 article1 aside aside"
      "article1 article1 article1 article1 aside aside"
      "article1 article1 article1 article1 aside aside"
      "article2 article2 article2 article2 aside aside"
      "fotos fotos fotos fotos fotos fotos";  
    .article1 {
        padding: 2rem;
         grid-area: article1;
         background-color: red;
         overflow-y: scroll;         
    }
    .article2 {
        padding: 2rem;
         grid-area: article2; 
         background-color:green;
         padding: 10px;
    }
    .aside {
        overflow: scroll;
        padding: 2rem;
         grid-area: aside; 
         background-color: violet;
         .card{
            margin: 10px;
            width: fit-content;
            align-items: center;
            

         }
    }
    .fotos {
        padding: 2rem;
         grid-area: fotos; 
         background-color: yellow;
    }
}
/* HISTORIA*/

/*MIEMBROS*/
.main_miembros{
    background-color: rgb(17, 17, 17);
    border: solid green 3px;
    display: flexbox;
    justify-content: center;
    padding: 1rem ;
    width: fit-content;
    height: fit-content;
    min-width: 180px;
    padding: 1.5rem;
    
    
    div{ /*CARDS*/
        width: fit-content;
        background-color: rgba(128, 128, 128, 0.016);
        margin: 15px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        :hover{
            border: solid white 1px;
        }   
           
        
        
        .card{ /*NUMERO CARDS */
            align-items: center;
            background-color: rgb(32, 32, 32);
            width: 20rem;
                  
            img{
                margin-top:1rem ;
                padding: 1px;
                border: solid rgb(60, 60, 60) 5px;
                height: 15rem;
                width: 15rem;
                object-fit: cover;
                
            }
            div{
                background-color: rgb(54, 24, 24);
                border:solid 0.5px rgb(19, 9, 9);
                width: 100%;                
                height:fit-content;

                h5{
                    color: white;
                }
                p{
                    color: white;
                }
            }
            ul{
                width: 100%;
                
                li{
                color: white;
                background-color: rgb(47, 47, 47);
                
                }
            }
        }
    }
}

/*MIEMBROS*/


/* CONTACTO */
    .main_contacto{
        border: solid red 11px;
        width: 90%;
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        form{
            width: 50%;
            border: solid 11px yellow;
            padding: 15px;
            fieldset{
                border: solid 3px green;
                padding: 10px;
                legend{
                }
                div{
                    padding: 10px;
                    border: solid 1px violet;
                    width: 90%;
                }
            }
        }
        div{
            iframe{
            width: 50%;
            
            }

        }
}

/* CONTACTO */


@media only screen and (max-width: 768px) {
    .main_discos {
        background-color: red;
        min-width: 768px;
    }
 }
 @media only screen and (max-width: 320px) {
    .main_discos {
        background-color: purple;
        min-width: 320px;
    }
 }